@charset "UTF-8";.keen-slider:not([data-keen-slider-disabled]) {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    align-content: flex-start;
    display: flex;
    overflow: hidden;
    position: relative;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -khtml-user-select: none;
    width: 100%
}

:root {
    --color-success: #fcc61e;
    --color-disabled: #575756;
    --color-text-white: #906a6a;
    --color-text-default: #575756;
    --color-text-dark: #171717;
    --color-bg-grey: #f5f4f3;
    --color-border-grey: #dddad8;
    --color-accent: #78c8d2;
    --color-accent-dark: #0d3a5d;
    --color-corporate-primary: #575756;
    --color-corporate-primary-dark: #474b4d;
    --color-edu-primary: #df4807;
    --color-edu-primary-dark: #c12d00;
    --color-health-primary: #00699a;
    --color-health-primary-dark: #004f7e;
    --color-primary: #df4807;
    --color-primary-dark: #c12d00;
    --color-interactive: var(--color-primary);
    --color-interactive-active: var(--color-primary-dark);
    --color-overline-primary: var(--color-primary);
    --color-overline-secondary: #aaa39d;
    --color-headline-variant: var(--color-text-default);
    --color-rte-link-default: #171717;
    --color-rte-link-default-active: var(--color-interactive-active);
    --color-logo-main: var(--color-primary);
    --color-header-link: var(--color-text-dark);
    --list-bullet-color: var(--color-primary);
    --form-input-bg: #f5f4f3;
    --form-input-border-color: #aaa39d;
    --form-input-color-disabled: #aaa39d;
    --form-label-color-disabled: #aaa39d
}

[class*="--scheme-edu"] {
    --color-primary: #df4807;
    --color-primary-dark: #c12d00;
    --color-interactive: var(--color-primary);
    --color-interactive-active: var(--color-primary-dark);
    --color-overline-primary: var(--color-primary);
    --color-overline-secondary: #aaa39d;
    --color-headline-variant: var(--color-text-default);
    --color-rte-link-default-active: var(--color-interactive-active);
    --color-logo-main: var(--color-primary);
    --color-header-link: var(--color-text-dark);
    --list-bullet-color: var(--color-primary)
}

[class*="--scheme-corporate"] {
    --color-primary: #575756;
    --color-primary-dark: #474b4d;
    --color-interactive: var(--color-primary);
    --color-interactive-active: var(--color-primary-dark);
    --color-overline-primary: var(--color-primary);
    --color-overline-secondary: var(--color-primary);
    --color-headline-variant: var(--color-text-default);
    --color-rte-link-default-active: var(--color-interactive-active);
    --color-logo-main: #aaa39d;
    --color-header-link: var(--color-text-default);
    --list-bullet-color: var(--color-primary)
}

[class*="--scheme-health"] {
    --color-primary: #00699a;
    --color-primary-dark: #004f7e;
    --color-interactive: var(--color-primary);
    --color-interactive-active: var(--color-primary-dark);
    --color-overline-primary: #0d3a5d;
    --color-overline-secondary: var(--color-primary);
    --color-headline-variant: var(--color-primary);
    --color-rte-link-default-active: #0d3a5d;
    --color-logo-main: var(--color-primary);
    --color-header-link: var(--color-text-dark);
    --list-bullet-color: var(--color-primary)
}

[class*="--scheme-light"] {
    --color-text-default: #5b3b3b;
    --color-text-dark: #482121;
    --list-bullet-color: #713535;
    --color-rte-link-default: #644141;
    --color-rte-link-default-active: hsla(0, 36%, 36%, 0.8);
    --form-input-bg: hsla(0,0%,100%,.3);
    --form-input-border-color: #ab3939;
    --form-input-color-disabled: hsla(0, 38%, 41%, 0.6);
    --form-label-color-disabled: hsla(0,0%,100%,.6)
}

.b_flow {
    --flow-color-stop-1: var(--flow-gradient-stop-1);
    --flow-color-stop-2: var(--flow-gradient-stop-2);
    --flow-color-stop-3: var(--flow-gradient-stop-3);
    pointer-events: none
}

.b_flow--color-lower-contrast {
    --flow-color-stop-1: var(--flow-gradient-stop-1-low-contrast,var(--flow-gradient-stop-1));
    --flow-color-stop-2: var(--flow-gradient-stop-2-low-contrast,var(--flow-gradient-stop-2));
    --flow-color-stop-3: var(--flow-gradient-stop-3-low-contrast,var(--flow-gradient-stop-3))
}

.b_flow--color-white {
    --flow-gradient-stop-1: #fff;
    --flow-gradient-stop-2: #fff;
    --flow-gradient-stop-3: #fff
}

.b_flow--color-on-dark {
    --flow-color-stop-1: var(--flow-gradient-stop-1-on-dark,var(--flow-gradient-stop-1));
    --flow-color-stop-2: var(--flow-gradient-stop-2-on-dark,var(--flow-gradient-stop-2));
    --flow-color-stop-3: var(--flow-gradient-stop-3-on-dark,var(--flow-gradient-stop-3))
}

.b_flow--animate .b_flow__svg {
    opacity: 1
}

.b_flow--animate .b_flow__svg-path {
    animation: animate-flow-from-end 2s cubic-bezier(.39,.575,.565,1) forwards
}

.b_flow--animate.b_flow--animation-from-start .b_flow__svg {
    opacity: 1
}

.b_flow--animate.b_flow--animation-from-start .b_flow__svg-path {
    animation: animate-flow-from-start 2s cubic-bezier(.39,.575,.565,1) forwards
}

.b_flow--animation-from-end .b_flow__svg-path,.b_flow--animation-from-start .b_flow__svg-path {
    stroke-dashoffset: 1730
}

.b_flow--mirror-x .b_flow__svg {
    transform: scaleX(-1)
}

.b_flow__sizer {
    padding-bottom: 55.8824%;
    position: relative;
    width: 100%
}

.b_flow__svg {
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.b_flow__gradient-stop--1 {
    stop-color: var(--flow-color-stop-1)
}

.b_flow__gradient-stop--2 {
    stop-color: var(--flow-color-stop-2)
}

.b_flow__gradient-stop--3 {
    stop-color: var(--flow-color-stop-3)
}

.b_flow__svg-path {
    stroke-dasharray: 1730;
    transform: translateZ(0)
}

/* @keyframes animate-flow-from-end {
    to {
        stroke-dashoffset: 0
    }
}

@keyframes animate-flow-from-start {
    to {
        stroke-dashoffset: 3460
    }
} */